@import url('../../assets/variables.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  margin: 0;
  font-family: var(--font-secondary);
  color: var(--text-default);
  background: var(--bg-default);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: var(--spacing-xl);
  padding: 0 var(--spacing-2xl) 30px;
}